.gradient-background {
  background: linear-gradient(300deg, 
  rgb(255, 228, 0), 
    rgb(255, 245, 140), 
    rgb(255, 230, 90), 
    rgb(180, 160, 0));
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}


@keyframes gradient-animation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}

.success-story-section {
  background: linear-gradient(300deg, #e71515);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
  padding: 60px 20px;
  text-align: center ;
}

.section-title {
  font-size: 2.5rem;
  color: #000000;
  margin-bottom: 40px;
}

.story-card {
  background: #ffffff;
  max-width: 800px;
  margin: 20px auto;
  padding: 30px 25px;
  border-radius: 15px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  text-align: left;
  display: auto; /* Ensures vertical layout */
}

.couple-name {
  color: #020202;
  font-size: 1.6rem;
  margin-bottom: 15px;
}

.story-text {
  color: #000000;
  font-size: 1.1rem;
  line-height: 1.6;
}

.story-author {
  color: #f10d0d;
  font-style: italic;
  margin-top: 20px;
}

.story-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  justify-items: center;
  padding: 0 20px;
}

.donut-pic{
  height: 100px;
  border-radius: 50%;
}

.pricing-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
  margin: 2rem 0;
  
}


h1 {
  text-transform: uppercase; /* all caps */
  font-weight: 900; /* extra bold */
  font-family: 'Arial Black', sans-serif;
  color: black;
  text-align: center;
  line-height: 1.1;
  letter-spacing: 1px;
}
.col-lg-6 {
  text-align: center;
}



